{% extends 'core/base.html' %}

{% block content %}


{% if messages %}
{% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert" style="position: fixed; top: 20px; right: 20px; z-index: 1050; max-width: 400px;">
        <div class="d-flex">
            <div class="me-3">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div>
                <h6 class="alert-heading mb-1">Message</h6>
                <p class="mb-0">{{ message }}</p>
            </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
           <div class="card p-2">
            <form method="POST" class="needs-validation" novalidate style="overflow-y: scroll; height: 450px;">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="vitals_form">

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="temperature">Température </label>
                            <input type="number" step="0.1" class="form-control" placeholder="en (°C)" id="temperature" name="temperature" value="{{ vital_signs.temperature }}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="blood_pressure_systolic">Pression artérielle </label>
                            <input type="number" class="form-control" placeholder="(systolique)" id="blood_pressure_systolic" name="blood_pressure_systolic" value="{{ vital_signs.blood_pressure_systolic }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="blood_pressure_diastolic">Pression artérielle </label>
                            <input type="number" class="form-control" placeholder="(diastolique)" id="blood_pressure_diastolic" name="blood_pressure_diastolic" value="{{ vital_signs.blood_pressure_diastolic }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="pulse">Pouls</label>
                            <input type="number" class="form-control" placeholder="(bpm)" id="pulse" name="pulse" value="{{ vital_signs.pulse }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="respiratory_rate">Fréquence respiratoire </label>
                            <input type="number" class="form-control" placeholder="(resp/min)" id="respiratory_rate" name="respiratory_rate" value="{{ vital_signs.respiratory_rate }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="oxygen_saturation">Saturation </label>
                            <input type="number" step="0.1" class="form-control" placeholder="en O2 (%)" id="oxygen_saturation" name="oxygen_saturation" value="{{ vital_signs.oxygen_saturation }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="weight">Poids</label>
                            <input type="number" step="0.1" class="form-control" placeholder="en (kg)" id="weight" name="weight" value="{{ vital_signs.weight }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="height">Taille </label>
                            <input type="number" class="form-control" placeholder="en (cm)" id="height" name="height" value="{{ vital_signs.height }}">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save me-2"></i>Enregistrer Signes Vitaux
                </button>
            </form>
           </div>
        </div>

        <div class="col-md-6">
            <div class="card py-2 px-3 shadow-sm">
                <h6 class="card-title mb-4">Information sur le patient</h6>
                <div class="row">
                    <div class="col-md-6">
                        <label for="last_name"><i class="fas fa-user me-2"></i>Nom et Prénoms</label>
                        <p>{{ patient.first_name }} {{ patient.name }}</p>
                    </div>
                    <div class="col-md-6">
                        <label for="birth_date"><i class="fas fa-calendar me-2"></i>Date de naissance</label>
                        <p>{{ patient.birth_date }}</p>
                    </div>
                </div>

                <!-- sign vitaux -->

                <h6 class="card-title mb-4">Signes vitaux du patient numéro {{ patient.reference }}</h6>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Temp</th>
                                <th>Pression art</th>
                                <th>Pouls</th>
                                <th>Poids</th>
                                <th>Hauteur</th>
                            </tr>
                        </thead>
           
                        <tbody>
                        {% if sign_vital %}
                            <tr>
                                <td><i class="fas fa-thermometer-half me-2"></i>{{ sign_vital.temperature|default_if_none:"Non renseigné" }}</td>
                                <td><i class="fas fa-briefcase-medical me-2"></i>{{ sign_vital.blood_pressure_systolic|default_if_none:"Non renseigné" }}/{{ sign_vital.blood_pressure_diastolic|default_if_none:"Non renseigné" }}</td>
                                <td><i class="fas fa-heartbeat me-2"></i>{{ sign_vital.pulse|default_if_none:"Non renseigné" }}</td>
                                <td><i class="fas fa-weight me-2"></i>{{ sign_vital.weight|default_if_none:"Non renseigné" }}</td>
                                <td><i class="fas fa-ruler-vertical me-2"></i>{{ sign_vital.height|default_if_none:"Non renseigné" }}</td>
                                <td><a href="{% url 'edit_sign_vital' sign_vital.id %}"><i class="fas fa-edit"></i></a></td>
                            </tr>
                        {% else %}
                                <tr>
                                    <td colspan="6" class="text-center text-muted">Aucun signe vital n'a été enregistré.</td>
                                </tr>
                        {% endif %}
                        </tbody>
            
                    </table>
                </div>

                <div class="row">

                    <div class="col-md-12 d-flex gap-2">
                        <form method="post" enctype="multipart/form-data" action="{% url 'save_patient' patient.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                <i class="fas fa-save me-1"></i>Enregistrer dans le dossier du patient
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}